@import '@fontsource/fira-mono';
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS */

@supports (font-variation-settings: normal) {
	code {
		font-family: 'Fira Code VF', monospace;
	}
}

:root {
	font-family: 'Fira Code', monospace;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
}

body::before {
	content: '';
	width: 80vw;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	line-height: 1.5;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
.loginFormInput {
	@apply block
          w-full
          px-3
          py-1.5
          text-base
          font-normal
          text-gray-700
          bg-white bg-clip-padding
          border border-solid border-gray-300
          rounded
          transition
          ease-in-out
          m-0
          focus:text-gray-700 focus:bg-white focus:border-blue-600 focus:border-3 focus:outline-none;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.loader-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 160px;
}
.loader {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 48px;
	height: 48px;
	animation: spin 2s linear infinite;
}
:root {
	/** sunny side **/
	--blue-background: #c2e9f6;
	--blue-border: #72cce3;
	--blue-color: #96dcee;
	--yellow-background: #fffaa8;
	--yellow-border: #f5eb71;
	/** dark side **/
	--indigo-background: #808fc7;
	--indigo-border: #5d6baa;
	--indigo-color: #6b7abb;
	--gray-border: #e8e8ea;
	--gray-dots: #e8e8ea;
	/** general **/
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
}

body {
	display: grid;
	place-items: center;
	min-height: 100vh;
	position: relative;
}

.background {
	position: absolute;
	left: 0;
	top: 0;
	background: var(--blue-background);
	z-index: -1;
	width: 100%;
	height: 100%;
	transition: all 250ms ease-in;
}

.toggle--checkbox {
	display: none;
}
.toggle--checkbox:checked {
	/** This will all flip from sun to moon **/
	/** Change the label color **/
}
.toggle--checkbox:checked ~ .background {
	background: var(--indigo-background);
}
.toggle--checkbox:checked + .toggle--label {
	background: var(--indigo-color);
	border-color: var(--indigo-border);
	/** Change the cloud to stars **/
	/** Change the sun into the moon **/
	/** Show the dimples on the moon **/
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background {
	left: 15px;
	width: 1px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:before {
	width: 1px;
	height: 1px;
	top: -6px;
}
.toggle--checkbox:checked + .toggle--label .toggle--label-background:after {
	width: 1px;
	height: 1px;
	left: -7.5px;
	top: 5px;
}
.toggle--checkbox:checked + .toggle--label:before {
	background: var(--white);
	border-color: var(--gray-border);
	animation-name: switch;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
}
.toggle--checkbox:checked + .toggle--label:after {
	transition-delay: 350ms;
	opacity: 1;
}
.toggle--label {
	/** Placeholder element, starting at blue **/
	width: 50px;
	height: 25px;
	background: var(--blue-color);
	border-radius: 25px;
	border: 1px solid var(--blue-border);
	display: flex;
	position: relative;
	transition: all 350ms ease-in;
	/** The sun cloud and moon stars **/
	/** Sun/Moon element **/
	/** Gray dots on the moon **/
}
.toggle--label-background {
	width: 2.5px;
	height: 1px;
	border-radius: 1px;
	position: relative;
	background: var(--white);
	left: 33px;
	top: 10px;
	transition: all 150ms ease-in;
}
.toggle--label-background:before {
	content: '';
	position: absolute;
	top: -1px;
	width: 10px;
	height: 1px;
	border-radius: 1px;
	background: var(--white);
	left: -5px;
	transition: all 150ms ease-in;
}
.toggle--label-background:after {
	content: '';
	position: absolute;
	top: 1px;
	width: 10px;
	height: 1px;
	border-radius: 1px;
	background: var(--white);
	left: -2.5px;
	transition: all 150ms ease-in;
}
.toggle--label:before {
	animation-name: reverse;
	animation-duration: 350ms;
	animation-fill-mode: forwards;
	transition: all 350ms ease-in;
	content: '';
	width: 20px;
	height: 20px;
	border: 1px solid var(--yellow-border);
	top: 1.5px;
	left: 1px;
	position: absolute;
	border-radius: 20px;
	background: var(--yellow-background);
}
.toggle--label:after {
	transition-delay: 0ms;
	transition: all 250ms ease-in;
	position: absolute;
	content: '';
	box-shadow: var(--gray-dots) -6.5px 0 0 0.75px, var(--gray-dots) -8px 4px 0 0.1px;
	left: 38px;
	top: 5px;
	width: 2.5px;
	height: 2.5px;
	background: transparent;
	border-radius: 50%;
	opacity: 0;
}

@keyframes switch {
	0% {
		left: 1px;
	}
	60% {
		left: 1px;
		width: 27.5px;
	}
	100% {
		left: 27.5px;
		width: 20px;
	}
}
@keyframes reverse {
	0% {
		left: 25px;
		width: 20px;
	}
	60% {
		left: 18px;
		width: 28px;
	}
	100% {
		left: 1px;
	}
}
.expandedIcon {
	transform: rotate(90deg);
}
.btn-close {
	background: none;
}
button.btnCloseModal {
	@apply inline-block 
    px-6 
    py-2.5 
    bg-transparent 
    text-blue-600 
    dark:text-white 
    font-medium 
    text-xs 
    leading-tight 
    uppercase 
    rounded 
    hover:text-blue-700 
    hover:bg-gray-100 
    focus:bg-gray-100 
    dark:hover:bg-gray-600 
    dark:focus:bg-gray-600 
    focus:outline-none 
    focus:ring-0 
    active:bg-gray-200 
    transition duration-150 
    ease-in-out 
    ml-1;
}
button.btnAdd {
	@apply px-6
    py-2.5
    bg-blue-600
    text-white
    font-medium
    text-xs
    leading-tight
    uppercase
    rounded
    shadow-md
    hover:bg-blue-700 hover:shadow-lg
    focus:bg-blue-700 focus:shadow-lg 
    focus:outline-none focus:ring-0
    active:bg-blue-800 active:shadow-lg
    transition
    duration-150
    ease-in-out;
}
.form-control {
	@apply block
    px-3
    py-1.5
    text-base
    font-normal
    text-gray-700 
    dark:text-white
    bg-white 
    dark:bg-gray-500 
    bg-clip-padding
    border 
    border-solid 
    border-gray-300
    rounded
    transition
    ease-in-out
    md:my-5
    md:mr-2
		my-2
    focus:text-gray-500 
    focus:bg-white 
    focus:border-blue-600 
    focus:outline-none;
}
@keyframes strike {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}
@keyframes removeStrike {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}
.completed {
	position: relative;
}
.uncompleted {
	position: relative;
}
.completed::after {
	content: ' ';
	position: absolute;
	top: 50%;
	height: 3px;
	-webkit-animation-name: strike;
	animation-name: strike;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	background-color: rgba(255, 255, 255, 1);
	max-width: 85%;
	left: 0.75rem;
}
#sidebar {
		--tw-translate-x: -100%;
}
#menu-close-icon, #menu-close-icon-fab {
		display: none;
}

#menu-open:checked ~ #sidebar {
		--tw-translate-x: 0;
}
#menu-open:checked ~ * #mobile-menu-button {
		background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ #mobile-menu-button-fab {
		background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
}
#menu-open:checked ~ * #menu-open-icon {
		display: none;
}
#menu-open:checked ~ * #menu-close-icon {
		display: block;
}
#menu-open:checked ~ * #menu-open-icon {
		display: none;
}
#menu-open:checked ~ * #menu-close-icon {
		display: block;
}
#menu-open:checked ~ * #menu-open-icon-fab {
		display: none;
}
#menu-open:checked ~ * #menu-close-icon-fab {
		display: block;
}
#menu-open:checked ~ * #menu-open-icon-fab {
		display: none;
}
#menu-open:checked ~ * #menu-close-icon-fab {
		display: block;
}

@media (min-width: 768px) {
		#sidebar {
				--tw-translate-x: 0;
		}
}
.mobileContainer {
	min-height: -webkit-fill-available;
}

@media (min-width: 768px) {
	/* md */
	.mobileContainer {
		height: 100vh;
		min-height: 100vh;
	}
}